page-tabs {
    
    h3  {
        padding-left: 16px;
        background: blue;
      font-size: 0.9em;
    }
    
    #menu {
        background: white;
        font-size: 1.2em;
    }
    
    p{
      font-size: 1.2em;
        color: #333;
    }
}
