page-tabs {
    
    h3  {
        padding-left: 16px;
        background: blue;
        font-size: 0.8em;
    }
    
    #menu {
        background: white;
        font-size: 1.2em;
        background: red;
    }
}