page-action-list {
    
    .action-thumb {
        display: inline;
        width: 25%;
        margin-right: 5%;
        float: left;
    }
    
    .action-name {
        width: 90% !important;
    }
}
