<ion-content id="popup-box">
    <ion-icon id="close" name="close" (click)="close()"></ion-icon>
    <h1>{{ 'RELATED_SDGS' | translate}}</h1>
    <div *ngFor="let goal of goals">
        <h2 (click)="goalTapped($event, goal.goalId)">
            {{ 'SDG' | translate}} {{ goal.goalId + 1 }}
        </h2>

        <div class="subgoals">
            <div *ngFor="let sub of goal.subgoals">
                <b>{{ sub.subId }}</b>
                <div [innerHTML]="sub.rationale"></div>
            </div>
        </div>
    </div>
</ion-content>