page-home {
  h2 {
    background: color($colors, secondary, base);
    color: white;
    padding: 8px;
    margin: 2px 8px;
    box-shadow: 4px 4px 0 color($colors, secDark, base);
  }

<<<<<<< HEAD
    h2 {
        background: color($colors, secondary, base);
        color: white;
        padding: 8px;
        margin-top: 0px;
        margin-left: 16px;
        margin-right: 16px;
        box-shadow: 4px 4px 0px color($colors, secDark, base);
    }
    
    ion-content {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: -100;
        background-image: url("../assets/images/banner.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    
=======
  p {
    color: white !important;
  }

  ion-icon {
    font-size: 3.6rem;
  }

  button {
    margin: 0 5px 0 5px;
    background: transparent;
  }

  #cover {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -100;
    background-image: url("../assets/images/banner.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: brightness(40%);
    -webkit-filter: brightness(40%); /* Safari */
  }
>>>>>>> master
}
