<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            {{ 'ACTION_LINE' | translate}} {{ action?.id + 1}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-grid>
        <ion-row>
            <ion-col width-20>
                <img src="./assets/images/action{{ action?.id + 1 }}.png"/>
            </ion-col>
            <ion-col width-80>
                <h1>{{ action?.name }}</h1>
            </ion-col>
        </ion-row>
    </ion-grid>

    <h2>{{ 'TARGETS' | translate }}</h2>
    <div [innerHTML]="action?. desc" padding></div>
    
    <h2>{{ 'RELATED_SDGS' | translate}}</h2>
    <p class="info">
        <ion-icon name="information-circle"></ion-icon> {{ 'TARGET_HELP' | translate}}
    </p>
    <ion-list>
        <ion-item *ngFor="let goal of action?.goals; let i = index;">
            <ion-thumbnail (click)="goalTapped($event, goal.goalId)" item-left>
                <img src="./assets/images/goal{{ goal.goalId + 1}}.png" />
            </ion-thumbnail>
            <p (click)="goalPressed($event, i)">
                <b>{{ 'TARGET' | translate }}:</b>
                <span [hidden]="goal.subgoals.length > 0"> - </span>
                <span *ngFor="let sub of goal.subgoals">
                    {{ sub.subId }} 
                </span>
            </p>
        </ion-item>
    </ion-list>
</ion-content>
