page-action {
    h1 {
        background: color($colors, primary, base);
        color: white;
        padding: 8px;
        margin-top: 0px;
        box-shadow: 4px 4px 0px color($colors, priDark, base);
    }
    
    h2 {
        background: color($colors, secondary, base);
        color: white;
        padding: 8px;
        margin-top: 0px;
        margin-left: 16px;
        margin-right: 16px;
        box-shadow: 4px 4px 0px color($colors, secDark, base);
    }
    
    ol {
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        list-style-type: lower-alpha;
    }
    
    ol li {
        padding-top: 16px;
    }
    
    ol li ol {
        list-style-type: lower-roman;
    }
    
    ion-thumbnail img{
        width: 120px !important;
        height: 120px !important;
    }
}
