// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

p {
    font-size: 1.2em;
}

.grid-full ion-row {
    height: 100%;
    padding: 0;
    flex-wrap: wrap;
}

.banner {
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(50%);
}

.heading {
    position: absolute;
    bottom: 32px;
    left: 16px;
    font-size: 2.5em;
    color: white;
}

.container {
    position: relative;
    height: 40%;
}

.action-popover .popover-content{
    width: 80% !important;
    position: absolute !important;
    top: 10% !important;
    left: 10% !important;
}

.info {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 0.9em;
    background: #eee;
    border-radius: 3px;
    border: 1px solid #AAA;
    padding: 4px;
}