<ion-header>
    <ion-navbar color="primary">
    </ion-navbar>
</ion-header>

<ion-content>
    <p class="info">
        <ion-icon name="information-circle"></ion-icon> 
        {{ 'MATRIX_HELP' | translate}}
    </p>
    
    <h2>{{ 'ACTION_LINES' | translate}}</h2>
    <ion-grid class="grid-full" width-50>
        <ion-row>
            <ion-col *ngFor="let action of actions" [ngClass]="{'grayed': action.hidden, 'hidden': action.hidden && ACTION_SHOWED }" width-20>
                <img src="{{ action.iconUrl }}" (click)="actionTapped($event, action)"/>
            </ion-col>
        </ion-row>
    </ion-grid>
    
    <h2>{{ 'SDGs' | translate}}</h2>
    <ion-grid class="grid-full" width-50>
        <ion-row>
            <ion-col *ngFor="let goal of goals" [ngClass]="{'grayed': goal.hidden, 'hidden': goal.hidden && GOAL_SHOWED }" width-20>
                <img src="./assets/images/goal{{ goal.id + 1}}.png" (click)="goalTapped($event, goal)"/>
            </ion-col>
        </ion-row>
    </ion-grid>
    
</ion-content>
