page-matrix {

    .grayed {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.1;
        display: block;
    }
    
    .hidden {
        display: none;
    }
    
    h2 {
        padding-left: 16px;
        font-size: 1.2em;
    }
    
    .square {
        width: 100px;
    }
    
    .action-thumb {
        display: inline;
        width: 25%;
        margin-right: 5%;
        float: left;
    }
    
    .action-name {
        display: inline;
        text-align: left;
        font-size: 14px;
        padding-right: 8px;
    }
    
    .action {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    
}
